.header{
    width: 100vw;
    height: 50px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: 500;
}

.headerLogo{
    font-size: 24px;
    color: #fff;
}